/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import 'bourbon';
 @import 'base/base';

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(65,34,195);
    background: linear-gradient(0deg, rgba(65,34,195,1) 0%, rgba(45,173,253,1) 100%);
    background-attachment: fixed;
}

// navbar

.navbar {
    background-color: #eae9ee;
    border-bottom: 1px solid black;
}

// main content

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    background: white;
}

h2 {
    text-align: center;
}

// listings

.card-buttons {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.card-img-top-sec {
  max-height: 10em;
  overflow: hidden;
}

// listing

.listing-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
}

.listing-image {
    img {
        max-width: 100%;
        border-radius: 25px;
        border: 1px solid black;
    }
}

// chatroom

.header {
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    margin: 0 0 1em;
    padding: .5em;
  }
  
  .chat {
    height: 20em;
    width: 100%;
  }
  
  .messages {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    height: 10em;
    margin: 0 0 .5em;
    overflow-y: scroll;
    padding: .5em;
  }
  
  .message {
    .user {
      font-weight: bold;
  
      &.me {
        color: #b6191e;
      }
    }
  }
  
  .other-links {
    margin: .5em 0 0;
  }